.resultText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 16px;
  font-weight: 300;
}

.resultText div {
  height: 300px;
}

.resultText div img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .resultText div {
    height: 400px;
  }
}
